@layer utilities {
  @keyframes pan-image {
    0% {
      zoom: 0;
      object-position: top;
    }
    50% {
      zoom: 0.5;
      object-position: bottom;
    }
    100% {
      zoom: 1;
      object-position: center;
    }
  }

  .LocationThumbnail {
    animation: pan-image 5s ease-in-out forwards;
  }
}
