@layer utilities {
  @keyframes pan-image {
    0% {
      object-position: top;
    }
    30% {
      object-position: bottom;
    }
    100% {
      object-position: center;
    }
  }

  .LocationEntry-hero {
    animation: pan-image 3s ease-in-out forwards;
  }
}
