@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0e0e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mapboxgl-control-container {
  display: none;
}

@keyframes cinematic-pan {
  0% {
    transform: scale(1.1) translateY(2%);
    filter: blur(8px);
  }
  100% {
    transform: scale(1.2) translateY(-2%);
    filter: blur(0);
  }
}

.cinematic-pan {
  animation: cinematic-pan 1.5s ease-out forwards;
}
